*{
	box-sizing: border-box;
}
html, body {
	position: relative;
	width: 100%;
	height: 100%;
}

body {
	color: #333;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #556;
	flex-direction: column;
}
.console{
	width: 1024px;
	height: 50px;
	color: wheat;
	font-size: 20px;
}
a {
	color: rgb(0,100,200);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a:visited {
	color: rgb(0,80,160);
}

label {
	display: block;
}

input, button, select, textarea {
	font-family: inherit;
	font-size: inherit;
	-webkit-padding: 0.4em 0;
	padding: 0.4em;
	margin: 0 0 0.5em 0;
	box-sizing: border-box;
	border: 1px solid #ccc;
	border-radius: 2px;
}

input:disabled {
	color: #ccc;
}

button {
	color: #333;
	background-color: #f4f4f4;
	outline: none;
}

button:disabled {
	color: #999;
}

button:not(:disabled):active {
	background-color: #ddd;
}

button:focus {
	border-color: #666;
}

input[type="text"]{
	outline: 0;
	border: unset;
	margin: 0;
}

.file-system .file-system__tree >ul{
	padding-left: 0 !important;
}

/**
 * SCROLL BAR
 */

.scroll::-webkit-scrollbar {
    width: 5px;
}



.scroll::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(250,250,250,0.9);
}
 

.scroll::-webkit-scrollbar-thumb {
  background-color: #5c68cf;
  outline: 1px solid #5c68cf;
}

input[type="text"]{
  padding: 3px 5px;
  background-color: rgba(255,255,255,0.1);
  height: 30px;
  caret-color: #F92672;
  color: #66D9EF;
}


.file-system__dirs-item{
	background-color: #2F3129;
	box-shadow: 0px 0px 1px 1px rgba(0,0,0,0.2);
	padding: 3px 5px;
	user-select: none;
	cursor: pointer;
	border-radius: 4px;
	min-width: 30px;
	height: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 50px;
}
.file-system__dirs-item:hover{
	background-color: rgba(0,0,0,0.1);
	color: #66D9EF;
}

.file-system__dirs{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
}